rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function - if user is authenticated, they are the owner
    function isAuthenticated() {
      return request.auth != null;
    }

    // All collections - if user is authenticated, they can do anything with their data
    match /{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
} 